  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="container padd20">
    <h1>About us</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <div class="col-xs-12">
    	<div class="row">
		    <table style="background: #FFF; border:#03F; height:500px; width:100%; padding:15px;">
			    <tbody>
			        <tr>
			            <td width="1%" height="15">&nbsp;</td>
			            <td width="23%"><strong>Father's name :</strong></td>
			            <td width="73%">Late Shri Ramnath Singh</td>
			            <td width="3%">&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Mother's Name :</strong></td>
			            <td>Late Smt. Draupadi Singh</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Date of Birth :</strong></td>
			            <td>21 Oct 1956</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Place of Birth :</strong></td>
			            <td>Dokati</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Marital Status :</strong></td>
			            <td>Married</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Date of Marriage :</strong></td>
			            <td>19 Jun 1981</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Spouse's Name :</strong></td>
			            <td>Smt. Renu Singh</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>No. of Sons :</strong></td>
			            <td>One</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>No.of Daughters :</strong></td>
			            <td>Two</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Educational Qualifications :</strong></td>
			            <td>B.A. Banaras Hindu University (BHU)</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="15">&nbsp;</td>
			            <td><strong>Profession :</strong></td>
			            <td>Agriculturist, Social Worker</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="45">&nbsp;</td>
			            <td><strong>Permanent Address :</strong></td>
			            <td>Village and P.O. - Dokati, 				Distt. - Ballia - 277001, 				Uttar Pradesh. 				Tels.(05414) 224323, 09452105009 (M)</td>
			            <td>&nbsp;</td>
			        </tr>
			        <tr>
			            <td height="45">&nbsp;</td>
			            <td><strong>Present Address :</strong></td>
			            <td>11, Windsor Place, 				New Delhi - 110011 				Tels: (011) 23782460, 23782461 				09013869481 (M)</td>
			            <td>&nbsp;</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
  </div>