<div>
	<acme-navbar creation-date="main.creationDate"></acme-navbar>
</div>

<div class="galleryPanel" ng-controller="MainController as vm">
                <ul>
                  <li class="col-xs-4 col-sm-3" ng-repeat="x in vm.records">
                    <!--<span> {{ x.name }} </span>-->
                    <img class="mlaPic" src="{{ x.image }}" alt="">
                  </li>
                  <!--<li class="mlaPic"><img src="assets/images/suresh-rana.jpg" alt=""></li>-->
                </ul>
              </div>
              
<div class="container padd20">
	<h1>Gallery</h1>
	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
