/*Generic Mixins*/
@mixin box-shadow( $horiz : 0px , $vert : 2px , $blur : 5px , $spread : 0 , $color : rgba(0,0,0,0.5) ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

a			{-webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}

/*Start External Fonts*/
@font-face{font-family:'Open Sans Regular';
	src:url('../assets/fonts/Regular/OpenSans-Regular.eot?') format('eot'),
		url('../assets/fonts/Regular/OpenSans-Regular.woff') format('woff'),
		url('../assets/fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
		url('../assets/fonts/Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
		font-weight:normal;font-style:normal;
}
@font-face{font-family:'Open Sans bold';
	src:url('../assets/fonts/Bold/OpenSans-Bold.eot?') format('eot'),
		url('../assets/fonts/Bold/OpenSans-Bold.woff') format('woff'),
		url('../assets/fonts/Bold/OpenSans-Bold.ttf') format('truetype'),
		url('../assets/fonts/Bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
		font-weight:normal;font-style:normal;
}
@font-face{font-family:'Open Sans Semibold';
	src:url('../assets/fonts/Semibold/OpenSans-Semibold.eot?') format('eot'),
		url('../assets/fonts/Semibold/OpenSans-Semibold.woff') format('woff'),
		url('../assets/fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'),
		url('../assets/fonts/Semibold/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
		font-weight:normal;font-style:normal;
}
.navbar-inverse{
  @include box-shadow;
  background:#fff;
  margin-bottom:0;
  border:none; 
}
body{
	font-family:'Open Sans Regular';
	color:#000;
	font-size:14px;
}
.padd20{
	padding:20px;
}
.textOrange{
	color:#9a490a;
}
.textPink{
	color:#b804ad;
}
.textGreen{
	color:#1a5a01;
}
.textOrange, .textPink, .textGreen{
	font-size:14px;
	font-weight:700;
}
/*buttons*/
.btn-readmore{
	border:1px solid #be1d2c;
	color:#be1d2c;
	text-transform:uppercase;
	padding:10px 20px;
	cursor:pointer;
	display:inline-block;
}
.btn-readmore:hover{
	color:#fff;
	background:#02415c;
	border:1px solid #02415c;
	text-decoration:none;
}
.btn-more{
	border:1px solid #02415c;
	color:#fff;
	text-transform:uppercase;
	padding:10px 20px;
	cursor:pointer;
	display:inline-block;
}
.btn-more:hover{
	color:#02415c;
	background:#fff;
	border:1px solid #fff;
	text-decoration:none;
}
/*generic classes*/
.clear{
	clear:both;
}
h1{
	color:#044270;
	font-size:32px;
	font-family:'Open Sans Light';
	span{
	display:block;
	font-size:14px;
	}
}
.navbar-inverse{
	li{
		font-family:'Open Sans bold';
		&.active{
			a{
				background:#155f7e!important;
				color:#fff!important;

				&:hover{
					color:#fff!important;
				}
			}
		}
		a{
			color:#000!important;
			text-transform:uppercase;
			font-weight:bold;
			&:hover{
				color:#155f7e!important;
			}
		}
	}
	.navbar-toggle{
		background:#000;
		margin-top:20px;
	}
}
.navbar-brand{
	padding:0;
	height:auto;
}


/*Start Main Banner*/
.mainBanner{
	width:100%;
	img{
		width:100%;
	}
}

//Welcome Intro
.welcomeIntro{
	h1{
		font-size:36px;
	}
	ul{
		li{
			line-height:25px;
			margin-top:10px;
			&:first-child{
				margin:0;
			}
		}
	}
	.btn-readmore{
		margin:10px auto 0;
		display:inline-block;
	}
}

/*Start Gallery Container*/
.galleryContainer{
	background:url(../assets/images/gallery-bg.jpg) repeat left top;
	h1{
	color:#fff;
	}
	.galleryBlock{
		background:url(../assets/images/lotus.png) no-repeat left top;
		min-height:432px;
		.galleryPanel{
			overflow:hidden;
			margin-bottom:20px;
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					margin-bottom:20px;
				}
			}
		}

	}
}
.reportCard{
	background:#fff;
	padding:10px;
	h1{
		color:#044270;
		text-align:center;
	}
	.cardSubHeading{
		text-align:center;
		color:#044270;
	}
	strong{
		display:block;
		font-size:24px;
		font-family:'Open Sans bold';
	}
	.allocatedFunds{
		border-top:1px solid #000;
		margin-top:10px;
		padding-top:5px;
	}
	.reportCardTitle{
		font-size:16px;
	}
	.reportCardDetails{
		margin:20px 0 10px;
		font-size:12px;
		.col-xs-6{
			.row{
				margin-top:10px;
			}
		}
	}
}
.mlaPic{
		@include border-radius(100%);
		@include box-shadow(0px);
		overflow:hidden;
}
.usefullLinksBlock{
	background:#fff;
	.usefullLinks{
		margin:0;
		padding:0;
		ul{
			list-style:none;
			margin:0;
			padding:0;
			li{
				margin-top:10px;
				overflow:hidden;
				&:first-child{
					margin-top:0;
				}
				&:before{
					content: "\f054";
    				font-family: FontAwesome;
    				width:20px;
    				display:block;
    				float:left;
				}
				a{
					display:block;
					width:90%;
					float:left;
				}
			}
		}
	}
	h1{
	color:#044270;
	}
}
.textHighlighted{
	color:#be1d2c;
}
.signUpPanel{
	.btn{
		border-radius:0;
		background:#be1d2c;
		color:#fff;
		border:none;
		height:50px;
	}
	input[type="text"]{
		padding:0;
		height:50px;
	}
	h2{
		text-align:center;
		overflow:hidden;
		font-size:18px;
		color:#be1d2c;
		font-family:'Open Sans Semibold';
		text-transform:uppercase;
		span {
		  display: inline-block;
		  position: relative;
		  &:before, &:after{
		  content: "";
		  position: absolute;
		  height: 5px;
		  border-bottom: 1px dashed black;
		  border-top: 1px dashed black;
		  top: 0;
		  width: 100%;
		  }
		  &:before{
		  	right:100%;
		  	margin-right:7px;
		  	margin-top:7px;
		  }
		  &:after{
		  	left:100%;
		  	margin-left:7px;
		  	margin-top:7px;
		  }
		}
	}
	
}
/*Start Footer*/
footer{
		text-align:center;
		border-top:1px solid #075170;

	ul, .navbar-nav{
		list-style:none;
		margin:0 auto;
		float:inherit;
		font-family:'Open Sans bold';
		li{
			text-transform:uppercase;
			float:inherit;
			display:inline-block;
			font-weight:bold;
			a{
				padding:0 10px 15px;
				&:hover{
					background:none;
					color:#be1d2c;
				}
			}
			a.active{
				color:#be1d2c;
				&:hover{
					color:#000;
				}
			}
		}
	}
}